* {
	box-sizing: border-box;
	/* referenced https://codyhouse.co/nuggets/custom-cursor */
	/* cursor: url('../img/cursor.svg') 20 20, auto; */
	
	margin:auto;
	cursor:none;
}  

/*  BOXES */

.box-wrap{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	gap:1em;
}

.box-row{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction: row;
	gap:1em;
}

.box-column{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.center{
	justify-content: center;
	align-content: center;
	align-items: center;
}

/*---- BODY ----*/
.body-box{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	gap:1.2em;
	margin-bottom:4em;
}

.top-section{
	margin-top:4em;
}

section{
	gap:1em; 
	
	margin-left:2em;
	margin-right:2em;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.section-left{
	flex:1;
	text-align: left;
	margin:0;
}
.section-right{
	flex:3;
	text-align: left;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	gap:1em; 
}

.element{
    border-style:solid;
    border-color:black;
	border-width:0.1em;
	padding:1em;
	gap:1em;
	width:100%;
}


.rendered{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	flex-wrap: wrap;
	align-self:center;
	border-style:dotted;
	padding:1em;
	width:fit-content;
	gap:1em;
}


.protect-title{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-wrap: row;
	-ms-flex-wrap: row;
	flex-wrap: row;
}

/*---- NAVIGATION BAR ----*/
nav{
	position:fixed;
	width:100%;
	top:0;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	
}

.nav-left{
	align-self:flex-start;
	margin:0;
	margin-left:1em;
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	min-width:6em;
}
.nav-right{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	
	
	margin-right:1em;
	justify-content: end;
}

.condensed { 
	display: none;
}



/*---- // NAVIGATION BAR ----*/
.visuals{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-wrap: row;
	-ms-flex-wrap: row;
	flex-wrap: row;
	gap:1em;
}
.box-color{
	width:3em;
	height:3em;
}
.box-color:nth-of-type(1){
	background-color:black;
}
.box-color:nth-of-type(2){
	background-color:rgb(113, 109, 105);
}

.box-color:nth-of-type(3){
	background-color:rgb(241, 237, 234);
}
.box-color:nth-of-type(4){
	background-color:white;
	border-style: solid;
	border-color:black;
}
.box-color:nth-of-type(5){
	background-color:white;
	border-style: dotted;
	border-color:black;
}


.two-img{
	width:48%;
}
.three-img{
	width:30%;
}
.four-img{
	width:23%;
}
.gallery{
	justify-content: space-between;
	align-content: space-between;
}
.gallery-img{
	max-width: 32%;
}

.two-column{
	gap:1em;
	flex:1 1 20em;
}
.two-column-box{
	gap:2em;
}

.project-title{
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left:0;
	align-items: baseline;
	gap:1em;
}


/*---- MEDIA QUERIES ----*/


@media(max-width:40em){
	.section-right{
	  flex: 1 0 100%;
	}
	.section-left{
	  flex: 1 0 100%;
	  text-align: left;
	}
	
}
@media(max-width:80em){
	/* nav{
		-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
	} */
	/* .nav-right{
		-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
		
	} */
	/* nav li{
		font-size:1em;
	}
	nav img{ max-height:2.5em; }
	nav h1{
		font-size:2.5em;
	}
	h2{
		font-size:1.5em;
	}
	h4{
		font-size:1.2em;
	}
	p{
		font-size:1em;
	} */
}


@media(max-width:64em){
	.nav-right .expanded{
		display: none;
	}
	.nav-right .condensed{
		display: inline-block;
	}
}

@media(max-width:29.6em){
	.project-title{
		gap:0;
	}
}

