/* ------ Text ----- */
body{
  font-family: "open-sans", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
    padding: 0;
    background-color: white;
}

h1{
  font-family:"sheepman";
  font-weight: 400;
  font-size:3em;
  margin:0;
  margin-bottom:0.2em;
  
}

h2{
  font-family:"shackleton";
  font-weight: 400;
  font-size:2.2em;
  margin:0;
  
}

h3{
  font-family:"open-sans";
  font-size:1.7em;
  margin:0;
  font-weight: 400;
}

h4{ 
  font-family:"open-sans";
  font-size:1.4em;
  margin:0;
  padding:0;
  font-weight: 300;
}

h5{
  font-family:"open-sans";
  font-size:1em;
  margin-top:0.25em;
  margin-bottom:0.25em;
  font-weight: 300;
}

p{
  font-family:"open-sans";
  font-size:1.2em;
  line-height:1.6em;
  margin:0;
}

.italic{
  font-style:italic;
}

form{
  margin:0;
}

/* ----end of text ----*/


/* ---- IMG ----*/

img{
  height: auto;
  max-width:100%;
}

.img-onboarding{
  padding-left:15%;
  padding-right:15%;
}

/*---- //IMG ---- */


/*---- INTERACTIVE ELEMENTS ------ */


/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  
  padding: 15px;
  border-style:dotted;
  border-width:0.08em;
  border-color:black;
}

#myBtn:hover {
  border-style:solid;
}


input[type="text"]{
  border-style:dotted;
  border-width:0.1em;
  border-color:black;
  width:100%;
}

input:hover, input:active{
  border-style:solid;
}

a{
  color:black;
  text-decoration-style: dotted;
  
  margin:0;
  width:fit-content;

  /* referenced https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

a:hover,a:active{
  color:black;
  text-decoration-style:solid;
}

a h1, a h3{ color:black; }

/* Navigation bar */
nav{
  color: white;
  mix-blend-mode: exclusion;
  z-index: 1000;
}
nav ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
  overflow: hidden;
  font-weight:700;
}
nav li{
  float: left;
  font-size:1.4em;
}
nav li:not(:last-child) { margin-right: 0.5em;  }
nav li:last-child{ margin-left:3em; }
nav img{ max-height:3em; }
nav a h1{ color:white; }
nav a{
  color:white;
  text-decoration-style: solid;
}
nav a:hover, a:active{ color:white; }

nav .no-underline{ text-decoration: none; }

nav button{
  color:white;
  background-color: black;
  border:none;
  margin:0;
  padding:auto;
  font-size:1.4em;
  font-weight:700;
}

/* // Navigation bar */

.cursor {
  position: fixed;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  background-image: url('../img/cursor-white-hover.svg');
  
  pointer-events: none;
  
  z-index: 1000;

  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.8);
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1.5);
}

.video-wrapper {
  position:relative;
  overflow: hidden;
  justify-content: center;  
  object-fit:cover;
  place-items: center;
  width:100%;
  height: 75vh;
  min-height: 30em;
}
.video-wrapper video{
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title{
  position:absolute;
  color:white;
  text-align: right;
  top:38vh;
  right:2em;
  mix-blend-mode:exclusion;
  z-index: 100;
}
.header-title h1{
  font-size: 20vmin;
  margin-bottom:0.04em;
}
.header-title h3{
  font-size:6vmin;
  font-weight:700;
}

