/* ------ Text ----- */
body{
  font-family: "open-sans", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
    padding: 0;
    background-color: white;
}

h1{
  font-family:"sheepman";
  font-weight: 400;
  font-size:3em;
  margin:0;
  margin-bottom:0.2em;
  
}

h2{
  font-family:"shackleton";
  font-weight: 400;
  font-size:2.2em;
  margin:0;
  
}

h3{
  font-family:"open-sans";
  font-size:1.7em;
  margin:0;
  font-weight: 400;
}

h4{ 
  font-family:"open-sans";
  font-size:1.4em;
  margin:0;
  padding:0;
  font-weight: 300;
}

h5{
  font-family:"open-sans";
  font-size:1em;
  margin-top:0.25em;
  margin-bottom:0.25em;
  font-weight: 300;
}

p{
  font-family:"open-sans";
  font-size:1.2em;
  line-height:1.6em;
  margin:0;
}

.italic{
  font-style:italic;
}

form{
  margin:0;
}

/* ----end of text ----*/


/* ---- IMG ----*/

img{
  height: auto;
  max-width:100%;
}

.img-onboarding{
  padding-left:15%;
  padding-right:15%;
}

/*---- //IMG ---- */


/*---- INTERACTIVE ELEMENTS ------ */


/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  
  padding: 15px;
  border-style:dotted;
  border-width:0.08em;
  border-color:black;
}

#myBtn:hover {
  border-style:solid;
}


input[type="text"]{
  border-style:dotted;
  border-width:0.1em;
  border-color:black;
  width:100%;
}

input:hover, input:active{
  border-style:solid;
}

a{
  color:black;
  text-decoration-style: dotted;
  
  margin:0;
  width:fit-content;

  /* referenced https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

a:hover,a:active{
  color:black;
  text-decoration-style:solid;
}

a h1, a h3{ color:black; }

/* Navigation bar */
nav{
  color:black;
  background-color: white;
  z-index:100;
}
nav ul, .menu-content ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
  overflow: hidden;
  font-weight:700;
}
nav li{
  float: left;
  font-size:1.4em;
}
nav li:not(:last-child) { margin-right: 0.5em;  }
nav li:last-child{ margin-left:3em; }
nav img{ 
  max-height:3em;
  height:100%;
}

nav a h1 { color:black; }
nav a {
  color:black;
  text-decoration-style: solid;
}
nav a:hover, nav a:active{ color:black; }

nav .no-underline, .menu-content .no-underline{ text-decoration: none; }

nav button{
  color:white;
  background-color: black;
  border:none;
  margin:0;
  padding:auto;
  font-size:1.4em;
  font-weight:700;
}

/* index page nav */
.index a h1{ color:white; }
.index a {
  color:white;
  text-decoration-style: solid;
}
.index a:hover, .index a:active{ color:white; }
.index{
  color: white; 
  background-color: transparent;
  mix-blend-mode: exclusion; 
  z-index: 100;
}

/* nav menu  */
.menu-content a{
  text-decoration-style: solid;
}

.menu-content{
  position:fixed;
  z-index: 10;
  top:0;
  left:0;
  background-color: white;
  width: 100%;
  height:100%;
  padding-top:5em;
  padding-left:2em;
  padding-right:2em;
  line-height:2.6em;
  display:none;
}

.menu-content li{
  font-size:1.6em;
  
}

/* // Navigation bar */

.cursor {
  position: fixed;
  height: 60px;
  width: 60px;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  background-image: url('../img/cursor-white-hover.svg');
  
  pointer-events: none;
  
  z-index: 1000;

  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.8);
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1.5);
}

.video-wrapper {
  position:relative;
  overflow: hidden;
  justify-content: center;  
  object-fit:cover;
  place-items: center;
  width:100%;
  height: 75vh;
  min-height: 30em;
}
.video-wrapper video{
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title{
  position:absolute;
  color:white;
  text-align: right;
  top:38vh;
  right:2em;
  mix-blend-mode:exclusion;
  z-index: 100;
}
.header-title h1{
  font-size: 20vmin;
  margin-bottom:0.04em;
}
.header-title h3{
  font-size:6vmin;
  font-weight:700;
}


/* paste */

.gallery-container {
  background-color: #fff;
  width:80vw;
}

.vueGallery .activePhoto {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 66.64%;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  position: relative;
}
.vueGallery .activePhoto button {
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: white;
  position: absolute;
  outline: none;
  height: 100%;
  z-index: 10;
  mix-blend-mode: exclusion;
}
.vueGallery .activePhoto button:hover {
  opacity: 1;
}
.vueGallery .activePhoto button.previous {
  padding: 0 1em 0 0.7em;
  left: 0;
}
.vueGallery .activePhoto button.next {
  padding: 0 0.7em 0 1em;
  right: 0;
}
.vueGallery .thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 5px;
}
.vueGallery .thumbnails div {
  width: 100%;
  border: 0.1em solid #fff;
  outline: 0.1em solid #fff;
  padding-bottom: 65%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.vueGallery .thumbnails div:hover {
  opacity: 0.6;
}
.vueGallery .thumbnails div.active {
  outline-color: black;
  opacity: 1;
}

#gallery2, #gallery3, #gallery4, #gallery5{
  display:none;
}

.gallery-options{
  margin-top:1em;
  margin-bottom:8em;
}

.gallery-option-item{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display:flex;
	-webkit-flex-wrap: row;
	-ms-flex-wrap: row;
	flex-wrap: row;
}

.line {
  flex-grow: 1;
  height: 0.1em;
  background-color: #000;
  visibility: hidden;
}
.gallery-option-item img{
  position:absolute;
  left:50vw;
  width:20%;
  max-height:10em;
  object-fit: contain;
  visibility:hidden;
}
.gallery-option-item:hover .line{
  visibility: visible;
}
.gallery-option-item:hover img{
  visibility: visible;
}
@media(max-width:55em){
  .gallery-option-item img{
    left:66vw;
  }
}
@media(max-width:40em){
  .gallery-option-item:hover img{
    visibility: hidden; /* only shows lines, not images after screen gets too small */
  }
}



.archive-list{
  width:100%;
}
.archive-titles{
  flex:100%;
}

